[[source]]
url = "https://pypi.org/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
pandas = "~=2.2.0"
numpy = "~=1.26.4"
matplotlib = "~=3.8.3"
scikit-learn = "*"
seaborn = "~=0.13.2"
notebook = "~=7.1.0"

[dev-packages]

[requires]
python_version = "3.11"
